.Home{
    margin-left: 70px;
    color: grey;
    margin-top: 50px;
    margin-bottom: 80px;
}
.casual{ margin-left: 70px;
}
.show{
    margin-left: 1120px;
    margin-bottom: -70px;
  
    margin-top: -60px;
}
.most{
    margin-left: 1370px;
    margin-top: 51px;
    margin-bottom: -70px;
}
