
.gtshirt0{
    height: 150px;
    width: 170px;
    margin-top: 70px;
    border-radius: 30px;
    margin-left: 20px;
    position: absolute;
    border-color: black;
  }
  .div0{
    margin-top: -10px;
  }
  .gtshirt20{
    height: 150px;
    width: 170px;
    margin-top: 230px;
    border-radius: 30px;
    margin-left: 23px;
  }
  .gtshirt30{
    height: 150px;
    width: 170px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
    border-radius: 30px;

  }
  .paw0{
    height: 450px;
    width: 400px;
    margin-left: 240px;
    border-radius: 100px;
    margin-bottom: 50px;
    margin-top: -750px;
  }
  .heading0{
  margin-top: -450px;
  margin-left: 660px;
  font-size: 43px;
  font-weight: 800;
  }
  .rating0{
  margin-top: -18px;
  margin-left: 650px;
  height: 50px;
  width: 600px;
  }
  .price0{
    margin-left: 680px;
    margin-top: -7px;
  }
  .price20{
    margin-left: 770px;
    color: red;
    margin-top: -55px;
    font-size: 20px;
  }
  .para0{
    margin-left: 675px;
    color: black;
  
  }
  .color0{
    margin-left: 685px;
    margin-top: 50px;
    font-size: 25px;
  }
  .hr0{
    background-color: black;
    height: 1px;
    width: 94%;
    margin-left: 3%;
  }
  .color20{
    margin-left: 675px;
    height: 80px;
    margin-top: -17px;
    position: absolute;
  }
  .button10{
 border-radius: 50px;
  height: 50px;
  width: 500px;
  margin-top: 75px;
  margin-left: 950px;
  background-color: black;
  color: white;
  }
  .button20{
  border-radius: 20px;
  height: 50px;
  width: 100px;
  margin-top: 75px;
  margin-left: 780px;
  position: absolute;
  }
  .button30{
  border-radius: 20px;
  height: 50px;
  width: 100px;
  margin-top: 75px;
  margin-left: 890px;
  position: absolute;
  background-color: black;
  color: white;
  }
  .button40{
  border-radius: 20px;
  height: 50px;
  width: 100px;
  margin-top: 75px;
  margin-left: 1000px;
  position: absolute;
  }
  .mn0{
   margin-bottom: -50px;
  }
  .might0{
    font-size: 45px;
    font-weight: 900;
    margin-top: 100px;
  }
  .button50{
    background-color: black;
    color: wheat;
    width: 315px;
    height: 45px;
    border-radius: 20px;
    margin-left: 750px;
    margin-top: 165px;
  }
  .details0{
    font-size: 35px;
    margin-top: 200px;
    margin-left: 50px;
font-weight: 600px
  }
  
  .txt0{
    margin-left: 90px;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 50px;
    font-weight: 330;

  }
  .outerdiv0{
    height: 30px;
    width: 150px;
    background-color: white;
    margin-left: 690px;
    margin-top: -100px;
  }
  .plus0{
    height: 28px;
    margin-left: 8px;
    margin-top: 60px;
  }
  .minus0{
    height: 28px;
    margin-right: 8px;
    margin-left: 30px;
  }
  .hhhl{
    margin-left: 50px;
    font-weight: 50px;
    font-size: small;
  }
  .txtt1{
    margin-left: 90px;
    margin-top: 30px;
  }
 .color01{
  height: 40px;
  width: 90px;
  margin-left: 680px;
margin-bottom: 20px;
  border-radius: 30px;
 }
 .color02{
  height: 40px;
  width: 90px;

  border-radius: 30px;
 }
 .color03{
  height: 40px;
  width: 90px;

  border-radius: 30px;
 }
 .color04{
  height: 40px;
  width: 90px;

  border-radius: 30px;
 }
 
.gtshirt0{
  height: 150px;
  width: 150px;
  margin-top: 50px;
  border-radius: 10px;
  margin-left: 20px;
  position: absolute;
  border-color: black;
}
.div0{
  margin-top: 10px;
}
.gtshirt20{
  height: 150px;
  width: 140px;
  margin-top: 230px;
  border-radius: 10px;
  margin-left: 23px;
}
.gtshirt30{
  height: 190px;
  width: 150px;
  margin-top: 0px;
  margin-left: 20px;
}
.paw0{
  height: 550px;
  width: 400px;
  margin-left: 240px;
  margin-top: -600px;
  border-radius: 35px;
}
.heading0{
margin-top: -550px;
margin-left: 660px;
font-size: 43px;
font-weight: 800;
}
.rating0{
margin-top: -18px;
margin-left: 650px;
height: 50px;
width: 600px;
}
.price0{
  margin-left: 680px;
  margin-top: -7px;
}
.price20{
  margin-left: 770px;
  color: red;
  margin-top: -55px;
  font-size: 20px;
}
.para0{
  margin-left: 675px;
  color: black;

}
.color0{
  margin-left: 685px;
  margin-top: 50px;
  font-size: 25px;
}
.hr0{
  background-color: black;
  height: 1px;
  width: 94%;
  margin-left: 3%;
}
.color20{
  margin-left: 675px;
  height: 80px;
  margin-top: -17px;
  position: absolute;
}

.button10{
border-radius: 20px;
height: 50px;
width: 100px;
margin-top: 75px;
margin-left: 670px;
position: absolute;
background-color: white;
}
.button20{
border-radius: 20px;
height: 50px;
width: 100px;
margin-top: 75px;
margin-left: 780px;
position: absolute;
}
.button30{
border-radius: 20px;
height: 50px;
width: 100px;
margin-top: 75px;
margin-left: 890px;
position: absolute;
background-color: black;
color: white;
}
.button40{
border-radius: 20px;
height: 50px;
width: 100px;
margin-top: 75px;
margin-left: 1000px;
position: absolute;
}
.mn0{
 margin-bottom: -50px;
}
.might0{
  font-size: 45px;
  font-weight: 900;
  margin-top: 100px;
}
.button50{
  background-color: black;
  color: wheat;
  width: 315px;
  height: 45px;
  border-radius: 20px;
  margin-left: 750px;
  margin-top: 165px;
}
.details0{
  font-size: 35px;
  margin-top: 100px;
  margin-left: 50px;
font-weight: 600
}
.txt0{
  margin-left: 90px;
  font-size: 20px;
  margin-top: 50px;
  margin-right: 50px;
  font-weight: 330;

}
.outerdiv0{
  height: 30px;
  width: 150px;
  background-color: white;
  margin-left: 670px;
  margin-top: -37px;
}
.plus0{
  height: 28px;
  margin-left: 8px;
}
.minus0{
  height: 28px;
  margin-right: 8px;
}
.hhhl{
  margin-left: 50px;
  font-weight: 50px;
  font-size: small;
}
.txtt1{
  margin-left: 90px;
  margin-top: 30px;
}
